name: "CI WAS Scan"
on:
  workflow_dispatch:
jobs:
  tenablescan:
    name: was-cicd
    runs-on: ubuntu-latest
    steps:
      - name: Iniciar docker
        run: |
          sudo service docker start
      - name: Cria rede
        run: |
          docker network create was_net
      - name: Clone repo
        uses: actions/checkout@v2
      - name: Build + Run Juice
        run: |
         # Execute o Juice Shop na rede compartilhada
          docker run -d --rm \
            --name juice \
            --network was_net
            -p 3000:3000 \
            bkimminich/juice-shop
          
          # Aguarde inicialização
          sleep 15
      - name: Run WAS + degub
        run: |
          # 3. Execute scanner em modo debug
          echo "=== Running WAS Scanner ==="
          docker run -v $(pwd):/scanner -t \
            -e WAS_MODE=cicd \
            -e ACCESS_KEY=${ACCESS_KEY} \
            -e SECRET_KEY=${SECRET_KEY} \
            -e WAS_TARGET=http://juice.was_net:3000 \
            -e WAS_SCAN_NAME="GitHub_Action_Test" \
            -e WAS_DEBUG="3" \
            --network was_net \
            tenable/was-scanner:latest || true
          
          # 5. Mostre conteúdo do log se existir
          if [ -f "scanner.log" ]; then
            echo "=== scanner.log content ==="
            tail -100 scanner.log
          fi
        env:
          ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
      - name: Upload Scan Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scan-vulnerability-output
          path: tenable_was_scan.html
      - name: Upload Scan Log Troubleshooting Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scan-troubleshooting-logs
          path: |
            scanner.log
            tenable_was.conf

